<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Student Record</title>
</head>
<body>
    <h1>Update Student</h1>
    <form method="post" action="">
    <input type="text" name="name" value="<%= result.name %>" placeholder="Enter Student Name" />
    <br/><br/>
    <input type="text" name="age" value="<%= result.age %>" placeholder="Enter Student Age" />
    <br/><br/>
    <input type="text" name="mark" value="<%= result.mark %>" placeholder="Enter Student Mark" />
    <br/><br/>
    <button>Update Student</button>
    </form>
</body>
</html>